body {
    background-color: #f0f2f5;
}

.title {
    color: #1877f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 900;
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
}