body {
    background-color: #f0f2f5;
}

.title {
    color: #1877f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 900;
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}

.entrar {
    background-color: #1877f2;
    color: #ffffff;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
}

.nova-conta {
    background-color: #55b72b;
    color: #ffffff;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 200px;
}

.email {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border: 1px solid #dddfe2;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
    margin: 0;
    border-radius: 6px;
}

.password {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border: 1px solid #dddfe2;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
    margin: 0;
    border-radius: 6px;
}